{
  "crons": [
    {
      "path": "/api/admin/mailroom/subscription-reminders",
      "schedule": "0 9 * * *"
    },
    {
      "path": "/api/admin/mailroom/cron",
      "schedule": "0 0 * * *"
    }
  ]
}
